# ErgoIRC - IRC Server + The Lounge Web Client
# https://github.com/ergochat/ergo

# Timezone
TZ=America/New_York

# Hostname / Domain
BASE_HOST_NAME=localhost
BASE_DOMAIN_NAME=example.com

# Network/organization name shown in IRC
APP_ORG_NAME=IRC
